.wrapper {
  width: 100%;

  margin-bottom: 10rem;
}

.content {
  margin-top: 4rem;

  width: 100%;

  display: flex;
  justify-content: space-between;
  flex: 15rem;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.icon {
  width: 300px;
  height: 300px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid var(--colors__primary);
  border-radius: 50%;
}

.button {
  padding: 1rem 1.5rem;
  border: 2px solid var(--colors__primary);
}