.list__item {
  position: relative;

  font-size: 1.8rem;
  color: #EBEBEB;
  padding: 1rem 2rem;

  background: #161616;
  border: 1px solid #212121;

  border-radius: 13px;

  transition: all 0.2s ease-in-out;

  min-width: 12.5rem;
  text-align: center;

  &:hover {
    background: #FFD100;
    color: #000000;
  }
}