.wrapper {
  max-width: 91.2rem;
  width: 100%;

  padding: 2.4rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  background-color: #161616;
  border: 1px solid #212121;
  border-radius: 27px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 2rem;
}

.content {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  color: #FFFFFF;
}

.title {
  font-size: 2.6rem;
  font-weight: 700;
}

.description {
  font-size: 1.6rem;
  opacity: 0.8;
  white-space: pre-line;

  h5 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
  }

  p {
    margin-bottom: 1.5rem;
  }

  a {
    color: #FFD100;

    &:hover {
      opacity: 0.9;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.date {
  background-color: #302D2C;
  border-radius: 40px;

  padding: 12px 18px;

  align-self: flex-start;
}

.btn {
  padding: 1.25rem 2rem;

  background: #302D2C;
  border-radius: 40px;

  transition: all 0.2s ease-in-out;
  align-self: flex-start;

  transform: rotate(180deg);
}