.wrapper {
  margin-bottom: 10rem;

  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10rem;
}

.step {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  flex: 1 / 3;
}

.step__title {
  text-align: center;
  font-size: 2.4rem;
}

.step__image {
  width: 100%;
  height: 300px;

  border: 1px solid var(--colors__primary);
}