@import "imports.module";
@import "shared.module";

:root {
  --colors__primary: #{getColorVarValue("primary")};
  --colors__secondary: #{getColorVarValue("secondary")};

  --colors__background: #1F1F1F;
  --colors__accent: #FFD100;

}

html {
  font-size: 62.5%; /* 62.5% of 16px = 10px */
  background-color: #000000;
  scroll-behavior: smooth;
  scroll-padding-top: 15rem;
}

html,
body {
  height: 100%;
}

body {
  color: var(--colors__primary);
  background-color: #000000;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 1.6rem;
}

:global(#__next) {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

:where(button, input, select, textarea) {
  padding: 0;
  border: 0;
}

:where(h1, h2, h3, h4, h5, h6, p) {
  margin: 0;
}

:where(ul, ol) {
  margin: 0;
  padding: 0;
}

:where(a) {
  text-decoration: none;
}

:where(svg) {
  fill: currentcolor;
}

:where(img) {
  object-fit: contain;
}

:where(hr) {
  height: 1px;
  border: none;
}

input[type="number"] {
  appearance: textfield;
}

.react-calendar {
  box-sizing: border-box;
  width: 100%;
  max-width: 42.7rem;
  background: #1F1F1F;
  color: #FFFFFF;
  border-radius: 16px;
  font-family: var(--font-mont);

  border: 1px solid #393939;

  padding-bottom: 4rem;

  padding-left: 1rem;
  padding-right: 1rem;

  @media (max-width: 556px) {
    font-size: 1.4rem;
  }

  @media (max-width: 440px) {
    font-size: 1.2rem;
  }
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.react-calendar__navigation button {
  color: #FFD100;
  min-width: 44px;
  background: none;
  font-size: 22px;
  margin-top: 8px;

  @media (max-width: 556px) {
    font-size: 1.6rem;
  }

  @media (max-width: 440px) {
    font-size: 1.4rem;
  }
}

.react-calendar__navigation__label__labelText {
  color: #FFFFFF;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  opacity: 0.8;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-family: var(--font-mont);

  @media (max-width: 556px) {
    font-size: 1.4rem;
  }

  @media (max-width: 440px) {
    font-size: 1rem;
  }

  @media (max-width: 340px) {
    font-size: 0.8rem;
  }

  abbr {
    color: #5B5B5F;
    text-decoration: unset !important;
  }
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;

  @media (max-width: 556px) {
    font-size: 1.4rem;
  }

  @media (max-width: 440px) {
    font-size: 1.2rem;
  }
}
.react-calendar__month-view__days__day--weekend {
  color: #FFFFFF;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__month-view__days__day--neighboringMonth:hover {
  color: #757575 !important;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 24px;

  @media (max-width: 555px) {
    padding: 10px 1px;
  }
}
.react-calendar__tile:disabled {
  color: #757575 !important;
}

.react-calendar__tile:disabled:hover {
  color: #757575;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  color: white;
  border-radius: 6px;
}
.react-calendar__tile--now {
  background: #876F05;
  font-weight: bold;
  color: #FFD100;
  border-radius: 42%;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #876F05;
  font-weight: bold;
  color: white;
  border-radius: 42%;
  opacity: 0.8;
}
.react-calendar__tile--hasActive {
  background: #FFD100;
  color: white;
  border-radius: 6px;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {

}
.react-calendar__tile--active {
  background: #FFD100;
  font-weight: bold;
  color: white;
  border-radius: 6px;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {

}
.react-calendar--selectRange .react-calendar__tile--hover {
  //background-color: #f8f8fa;
}