@import "../../../../styles/shared.module";

.wrapper {
  width: 100%;
  height: 50%;

  padding: 4rem 4.8rem;
  background: #161616;
  border: 1px solid #212121;
  border-radius: 27px;

  display: flex;
  flex-direction: column;

  @media (max-width: 1200px) {
    padding: 2rem 2.6rem;
  }
}

.title {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 150%;
}

.description {
  font-size: 1.6rem;
  opacity: 0.8;

  margin-top: 2.5rem;
  margin-bottom: 3.2rem;
}

.filters {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  overflow-x: auto;
}

.filter {
  cursor: pointer;

  padding: 1.45rem 2.4rem;
  background: #232120;
  border-radius: 40px;

  text-transform: capitalize;

  font-size: 1.8rem;

  &:hover {
    opacity: 0.9;
  }
}

.active {
  background: #FFD100;
  color: #000000;
}