@import "../../styles/shared.module";

.header {
  position: sticky;
  top: 20px;
  z-index: 99;

  padding: 0.9rem 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #000000;
  border: 1px solid #212121;
  border-radius: 1000px;

  font-family: var(--font-noto);

  @include media-breakpoint-down(xl) {
    padding: 0.9rem 2rem;

  }
}

.navigation {
  display: flex;
  align-items: center;
  gap: 2.8rem;

  @media (max-width: 1200px) {
    display: none; // Скрываем навигацию на мобильном экране
  }
}

.link {
  font-size: 1.6rem;
  color: var(--colors__primary);

  padding: 1.2rem;

  &__active {
    border: 1px solid #626262;
    border-radius: 100px;
  }
}

.bot__button {
  @media (max-width: 1200px) {
    display: none; // Скрываем навигацию на мобильном экране
  }
}

.burger__menu {
  display: none; // Скрытое бургер-меню на десктопе

  @media (max-width: 1200px) {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    cursor: pointer;
  }
}

.menu__item {
  background: #FFD100;
  width: 3rem;
  height: 0.4rem;

  border-radius: 17px;
}

.fullscreen__menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  z-index: 100;

  padding: 2rem 2rem;
}

.menu__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close {
  font-family: var(--font-pixel);

  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-size: 3.6rem;
    line-height: 100%;
    color: #FFD100;
  }
}

.menu__icon {
  color: #FFFFFF;
  font-size: 2rem;

  @media (min-width: 1201px) {
    display: none;
  }
}

.menu__nav {
  margin-top: 3rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}