.header {
  position: sticky;
  top: 20px;
  z-index: 1;

  padding: 0.9rem 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #000000;
  border: 1px solid #212121;
  border-radius: 1000px;

  font-family: var(--font-noto);
}

.navigation {
  display: flex;
  align-items: center;
  gap: 2.8rem;
}

.link {
  font-size: 1.6rem;
  color: var(--colors__primary);

  padding: 1.2rem;

  &__active {
    border: 1px solid #626262;
    border-radius: 100px;
  }
}

.button {
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  color: #2C2C2C;

  padding: 1.55rem 1.8rem;

  background-color: #FFFFFF;
  border-radius: 3rem;

  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #FFD100;

    svg {
      visibility: visible;
      opacity: 1;
    }
  }

  span {
    position: relative;
    z-index: 2;
  }

  svg {
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }

  svg {
    position: absolute;
    left: 0;
    top: 0;

    z-index: 1;
  }
}