.layout {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 7rem;
}

.sidebar {
  width: 32.5%;
  min-height: 20rem;
  height: 56.3rem;

  overflow: auto;
  position: sticky;
  top: 104px;
}

.main {
  width: 65%;
}