@import "../../../../styles/shared.module";

.wrapper {
  width: 100%;

  padding: 2.5rem;

  border: 1px solid #212121;
  border-radius: 27px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6.5rem;

  margin-bottom: 2.4rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;


  padding-left: 3.2rem;
  padding-right: 3.2rem;
}

.image {
  @include media-breakpoint-down(xl) {
    display: none;
  }
}

.description {
  max-width: 37.1rem;
  font-size: 1.6rem;
  opacity: 0.6;

  margin-top: 2.4rem;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.8rem;

  @include media-breakpoint-down(xl) {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
}

.link {
  padding: 0 3.5rem;

  color: #FFD100;

  font-size: 1.6rem;
  line-height: 49px;
  font-weight: 700;

  background: #2B2B2B;
  border-radius: 16px;

  text-transform: uppercase;

  transition: all 0.2s ease-in-out;

  &:hover {
    background: #FFD100;
    color: #161616;
  }

  @include media-breakpoint-down(xl) {
    width: 100%;
    text-align: center;

    font-size: 1.4rem;
  }
}

.email {
  padding: 0 12.7rem;

  background: #FFD100;
  color: #161616;

  &:hover {
    background: #2B2B2B;
    color: #FFD100;
  }

  @include media-breakpoint-down(xl) {
    width: 100%;
    text-align: center;
    padding: 0;
  }
}