.wrapper {
  max-width: 69.6rem;

  display: flex;
  flex-direction: column;
  gap: 6rem;
  align-items: flex-start;

  padding-left: 2rem;
}

.title {
  font-size: 4.8rem;
}

.description {
  opacity: 0.8;
  line-height: 2.4rem;
}

.subtitle {
  font-size: 2.6rem;
}

.item {
  h3 {
    font-size: 4.8rem;
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 2.5rem;
  }

  p, div {
    margin-bottom: 3.2rem;
    opacity: 0.8;
    font-size: 1.8rem;
  }

  ul {
    list-style-position: inside;
    padding-top: 2rem;
    opacity: 1;
  }

  li {
    margin-bottom: 1rem;
    padding-left: 2rem;
  }

  li::marker {
    color: #FFD100;
  }

  a {
    font-size: 1.8rem;
    color: #FFFFFF;

    transition: color 0.2s ease-in-out;

    &:hover {
      color: #FFD100;
    }
  }
}